<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>注册页面</title>
<css href="__PUBLIC__/css/style.css" />
<body>
	<div class="register-container">
		<div class="connect">
			<h1>
				<p>Register</p>
			</h1>
		</div>
		<form action={:U('User/add')} method="post" id="registerForm">
			<div>
				<input type="text" name="username" class="username"
					placeholder="您的用户名" autocomplete="off" />
			</div>
			<div>
				<input type="password" name="password" class="password"
					placeholder="输入密码" oncontextmenu="return false"
					onpaste="return false" />
			</div>
			<div>
				<input type="password" name="confirm_password"
					class="confirm_password" placeholder="再次输入密码"
					oncontextmenu="return false" onpaste="return false" />
			</div>
			<button id="submit" type="submit">注 册</button>
		</form>
		<a href="index.html">
			<button type="button" class="register-tis">已经有账号？</button>
		</a>

	</div>
	<div
		style="text-align: center; margin: 50px 0; font: normal 14px/24px 'MicroSoft YaHei';">
		<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
		<p>Copyright &copy; 2015</p>
	</div>
</body>
<load href="__PUBLIC__/js/jquery.min.js" />
<load href="__PUBLIC__/js/common.js" />
<!--背景图片自动更换-->
<load href="__PUBLIC__/js/supersized.3.2.7.min.js" />
<load href="__PUBLIC__/js/supersized-init.js" />
<!--表单验证-->
<load href="__PUBLIC__/js/jquery.validate.min.js" />
</html>